.carousel__item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.carousel {
  min-height: 60vh;
}
.carousel img {
  min-height: 60vh;
}
.slider {
  background: transparent;
}
.icons {
  font-size: 3rem;
  color: #ffffff;
  background: #0000009f;
  border-radius: 50px;
}
