// variables
$color-body: #ffffff;
$color-white: #dfdfdf;
$color-primary: #ebc47d;
$main-color: #c28751;
$color-secondary: #8b351d;
$color-text: #2d1b09;

//utiles
.title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
}
.title:after {
  position: absolute;
  content: "";
  height: 4px;
  bottom: -6px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 60%;
  background: $color-primary;
}
.white {
  color: white;
}
.ml {
  margin-left: 1rem;
}
.ml p {
  text-align: center;
  padding: 3px;
}
.badge {
  background: $color-primary;
  width: 100%;
  border-radius: 10px;
  color: $color-secondary !important;
  font-style: normal !important;
  font-weight: bolder;
}

//header
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(31, 30, 29, 0.699);
}
.hero__btn {
  margin-top: 1rem;
  color: $main-color;
  border: 1px solid $main-color;
  transition: ease 0.5s;
  color: $color-body;
}
.hero__btn:hover {
  background: $main-color;
  color: $color-text;
}
.hero__text {
  position: absolute;
  color: $color-body;
  width: 70%;

  &_1 {
    font-size: 2rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bolder;
  }
  &_2 {
    font-style: italic;
    font-family: "Courier New", Courier, monospace;
    font-weight: bolder;
  }
}

//main
.main {
  color: #2d1b09;
  padding: 0 2rem 0 2rem;
}

//offers section
.offers {
  text-align: center;
  padding-top: 2rem;

  &_1 {
    font-family: cursive;
    color: $main-color;
  }
}
.offers_base {
  min-height: 70vh;
  padding-top: 2rem;

  ul {
    li {
      display: flex;
      justify-content: center;
      align-content: center;
      margin-bottom: 1rem;
    }
  }
  &_icon {
    color: $color-primary;
    font-size: 5rem;
    margin: 0 1rem;
  }
  &_img {
    display: inline-block;
    width: 250px;
    margin-bottom: 2rem;
  }
  &_lf {
    text-align: left;
  }
  &_rt {
    text-align: right;
  }
}

//gallary section
.gallery {
  display: grid;
  width: 100%;

  min-height: 40vh;
  // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(4, 350px);
  grid-template-areas:
    "img1 "
    "img2 "
    "img3 "
    "img4 ";
  gap: 10px;
  // row-gap: 10px;

  img {
    width: 100%;
    height: 100%;
  }
  &_img1 {
    grid-area: img1;
  }
  &_img2 {
    grid-area: img4;
  }
  &_img3 {
    grid-area: img2;
  }
  &_img4 {
    grid-area: img3;
    height: 100%;
  }
}

//menu section
.menu {
  position: relative;
  background: url(/images/bg-gallery.jpg) center center/cover no-repeat fixed;
  padding-top: 2rem;
  text-align: center;
  min-height: 50vh;
  border-top: 1rem solid $color-body;

  &_container {
    position: relative;
    z-index: 1;
  }

  &_content {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
  }

  table {
    color: $main-color;
    width: 100%;
    text-align: left;
    letter-spacing: 1px;

    tr {
      display: flex;
      justify-content: space-between;
      padding: 0 2rem;
    }

    h5 {
      text-shadow: $color-primary 1px 1px;
      text-transform: uppercase;
    }
    p {
      margin-top: -8px;
      font-style: italic;
      font-family: cursive;
      color: $color-primary;
    }
  }
}

//display

.display {
  display: grid;
  min-height: 40vh;
  width: 100%;
  grid-template-rows: repeat(6, 250px);

  &_main1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1:after {
      width: 60%;
    }
  }
  .bg-propeties {
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1rem;
    color: $color-text;
    h4 {
      color: $color-secondary;
      text-transform: uppercase;
      font-family: "Courier New", Courier, monospace;
      font-weight: bolder;
    }
    a {
      color: $color-text;
      font-size: 1.2rem;
      text-decoration: none;
      transition: all ease 0.5s;
    }
    a:hover {
      color: $main-color;
    }
  }

  &_img1 {
    background-color: #ffb428;
    background-image: url(/images/info-coffee1.jpg);
    @extend.bg-propeties;
  }
  &_img2 {
    background-color: #c0835a;
    background-image: url(/images/info-coffee2.jpg);
    @extend.bg-propeties;
  }
  &_img3 {
    background-color: #ff7300;
    background-image: url(/images/info-coffee3.png);
    @extend.bg-propeties;
  }
  &_img4 {
    background-color: #ff7300;
    background-image: url(/images/info-coffee4.jpg);
    @extend.bg-propeties;
  }
  &_img5 {
    background-color: #ffb428;
    background-image: url(/images/info-coffee5.jpg);
    @extend.bg-propeties;
  }
  &_img6 {
    background-color: #c0835a;
    background-image: url(/images/info-coffee6.jpg);
    @extend.bg-propeties;
  }
  img {
    width: 100%;
    // height: 100%;
  }
}

.franchise {
  min-height: 40vh;
  padding-top: 1rem;

  display: flex;
  flex-wrap: wrap;

  img {
    width: 50%;
  }
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .hero__text_1 {
    font-size: 4rem;
  }
  .hero__btn {
    margin-top: 3rem;
  }
  //gallary section
  .gallery {
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 200px);
    grid-template-areas:
      "img1 img1 img3 img4"
      "img1 img1 img3 img2";
    gap: 10px;
    // row-gap: 10px;
  }

  //display
  .display {
    grid-template-rows: repeat(2, 250px);
    grid-template-areas:
      "img1 img2 img3 "
      "img4 img5 img6 ";
  }
  //menu section
  .menu_content {
    flex-direction: row;

    table {
      width: 50%;
    }
  }

  .franchise {
    img {
      width: 25%;
    }
  }
}

@media (min-width: 992px) {
  .offers_base {
    min-height: 70vh;
    display: flex;
    padding-top: 4rem;
  }
  .offers_base_img {
    height: 100%;
  }
  .offers_base_img {
    margin: 0 40px 0 40px;
  }
}
